#mobile-control {
    display: none;
    position: absolute;
    bottom: 0vw;
    width: 100vw;
    margin: 0vw;
    padding: 0vw;
    height: 40vw;
}

#dpad {
    position: absolute;
    width: 36vw;
    height: 36vw;
    left: 4vw;
    top: 0vw;
}

#dpad td {
    height: 12vw;
    width: 12vw;
}

.c{
    width: 2vw;
}

#abButton {
    position: absolute;
    top: 10vw;
    right: 6vw;
}

#abButton .nesbutton {
    height: 12vw;
    width: 12vw;
  
}

#controlBtn {
    position: absolute;
    left: 40vw;
    bottom: 4vw;
}

#controlBtn .nesbutton{
    height: 6vw;
    width: 10vw;
}

#mobile-control td {
    text-align: center;
    vertical-align: middle;
}

#mobile-control button {
    height: 100%;
    width: 100%;
}

.nesbutton {
    background-color: lightgray;
    border-radius: 1vw;
}

@media only screen and (max-width: 600px) {
    #mobile-control {
        display: block;
    }

    #introduction {
        display: none;
    }
}